



/*------------------------------------------------------------------------------*/
/*-------------------------------Vista tablet ----------------------------------*/
/*------------------------------------------------------------------------------*/

@media (min-width: 768px) {


    /*--------------------------------------------------------------*/
    /*-------------------Sección Presentación-----------------------*/

    .presentacion__foto {

        width: 350px;
        border-radius: 40%;
        box-shadow: -15px 15px 30px rgba(0, 0, 0, 0.5);
    
    }


    /*---------------------------------------------------------------------------*/
    /*----------------------------Sección Aficiones-----------------------------*/

    
    .material-symbols-outlined {

        font-size: 4.5rem;
        color: var(--color-texto-titulo);

    }

    /*--------------------------------------------------------------*/
    /*-------------------Sección Proyectos-----------------------*/


}





/*------------------------------------------------------------------------------*/
/*-------------------------------Vista en portatil -----------------------------*/
/*------------------------------------------------------------------------------*/


@media (min-width: 1024px) {


    .nombre__titulo {

        font-size: 1.5rem;
  
    }


    .menu__elemento a{

        display: flex;
        white-space: nowrap;
        font-size: .8rem;
  
    }

    /*--iconos de redes en "presentacion"--*/
    .bi-github,
    .bi-linkedin{
        font-size: var(--Tamaño-titulo-out);
     }

/*Estoy resolviendo la parte de crear un slide con 
las secciones del html con js */


}